.generated-pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.generated-memes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
