.generated-pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
}

.generated-memes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
}

#minutes {
    font-size: 4em;
    float: left;
    margin-left: 25%;
  }
  
#seconds {
    font-size: 2em;
    
}

#input-minutes {
    margin-top: 10px;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 500px; 
    height: 300px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.jokestyle {
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px auto;
}

.sitename {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color: #177948;
    
}

.bold {
    font-weight: bold;
    line-height: normal;
}

.boldgreen {
    color: #177948;
    font-weight: bold;
    line-height: normal;
}